# Python venv
venv/
venv310/
*.pyc
__pycache__/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (optional: track if small, ignore if large)
data/debug/
data/*.sqlite

# mac/windows specific
*.log

# pip wheel builds
dist/
build/
*.egg-info/
